@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root{
    --background-container: #DEB887;
    --background-botao: #DEB887;
    --background-botao-hover: #FFDEAD;
    --border-botao: #FFDEAD;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Sarala', sans-serif;
}

body {
    background-image: url(../img/wallpaper.webp);
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    margin-bottom: 15px;
    text-align: center;
}

p, label, input, button {
    font-size: 1.5rem;
}

.container {
    max-width: 40%;
    max-height: 100vh;
    background: var(--background-container);
    margin-left: 2em;
}

.text-content {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
}

.text-content button {
    background-color: var(--background-botao);
    border: 2px solid var(--border-botao);
    margin: 1em auto;
}

.text-content button:hover{
    background-color: var(--border-botao);
}

input {
    width: 100%; /*pegou 100% da largura da linha de acordo com o div container */
    display: block; /*faz que fique um elemento por linha */
    padding: 5px;
    box-sizing: border-box; /*informa que o elemento deve contar borda, padding, margin */
    margin-bottom: 10px;
}